<ion-view view-title="Minds">
  <ion-content>
    <ion-list>


      <ion-item class="list card" ng-repeat="mind in minds" type="item-text-wrap">
        <div class="item">
          <p>{{mind.displayTime}}</p>
        </div>

        <div class="item item-body" ng-bind-html="mind.content"></div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-trash-a"></i>
            Delete
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-toggle"></i>
            Unfindable
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Bind
          </a>
        </div>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
