<ion-view view-title="Minds">
  <ion-content class="padding">
    <div class="list">


      <div class="list card">
        <div class="item">
          <p>July 28, 2015</p>
        </div>

        <div class="item item-body">
          <p>
            B2 or 2b, this is a question... Everyone has some individual sides.
            So let's record them, give them to AI.
            We will also get something and somebody interesting.
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-trash-a"></i>
            Delete
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-toggle"></i>
            Unfindable
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Bind
          </a>
        </div>
      </div>


      <div class="list card">
        <div class="item">
          <p>July 25, 2015</p>
        </div>

        <div class="item item-body">
          <p>
            I design and develop B2 because:
            I like to record a mind which is much smaller than a blog
            but of more value than a “friend-circle” to myself.
            I don’t like twitter/weibo because social network is not my point.
            I just wish to concentrate on man’s mind, thoughts, and interests, little of any serious business but much of my life.
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-trash-a"></i>
            Delete
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-toggle-filled"></i>
            Findable
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Bind
          </a>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
