<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Minds Tab -->
  <ion-tab title="Minds" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/minds">
    <ion-nav-view name="tab-minds"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!--
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  -->

  <!-- Account Tab -->
  <ion-tab title="Finds" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/finds">
    <ion-nav-view name="tab-finds"></ion-nav-view>
  </ion-tab>

  <!-- Contacts Tab -->
  <ion-tab title="Binds" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/binds">
    <ion-nav-view name="tab-binds"></ion-nav-view>
  </ion-tab>


</ion-tabs>
